{%extends "cuentas/base-login.html"%} {%block content %}

<div class="card">
    <div class="card-body">

        <p class="h4">Password reset enviado</p>

        <div class="alert alert-secondary" role="alert">
            Le enviamos instrucciones por correo electrónico para configurar su contraseña.
            Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y
            verifique su carpeta de correo no deseado.

        </div>
        <a href="{% url 'login'%}">ingresar</a>
    </div>


</div>

{%endblock %}