{% extends 'base.html' %}{% block title %}Nueva materia{% endblock %} {% block content %}

<main>
    <div class="container-fluid">
        <div class="card w-75">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                New Section
            </div>
            <div class="card-body">
                <form method="POST">

                    {% csrf_token %}
                    {{ formset.management_form }}

                    {% for field in formset %}

                    {{field.descripcion.label_tag}}
                    {{field.descripcion}}

                    <hr>
                    {% endfor %}

                    <input class="btn btn-outline-primary btn-sm" type="submit" value="Save">
                </form>
            </div>
        </div>
        <div style="height: 100vh;"></div>
    </div>
</main>

{% endblock %}