
{% extends "base.html" %} {% block title %} Error BD{% endblock %} {%block content %}


 <div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-4">Error</h1>
                            <p class="lead">{{message}}</p>
                            <a href="{% url 'listar_carreras' %}">
                                <i class="fas fa-arrow-left mr-1"></i>
                                go back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock %}